@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

hr {
    border-top: 5px dashed #39FF14;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

body {
    font-family: 'Cascadia Code';
    background-color: #563A9C;
    color:#2b0d38;
}

#tentacles {
    width: 250px;
}

.header {
    display: flex;
    background: linear-gradient(#9f13cc, #f600c3);
    border-radius: 10px;
    width: 100%;
    align-items: center;
    font-size: x-large;
    justify-content: center;
    color:#39FF14;
    text-shadow: 5px 5px #431C53;
    box-shadow: 0 0 20px #320459;
}

.stats-container {
    display: flex;
    align-items: center;

    cursor: pointer;
    border-radius: 7px;

    align-items: stretch;
}

.stats-container:hover {
    box-shadow: 0 0 30px #39FF14
}

.stats-card {
    background-color: #8B5DFF;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px #320459;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #39FF14;
}

.game-card {
    background-color: #FFF7D1;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 0 20px #320459;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #39FF14;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cascadia Code';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    color:#39FF14;
    text-shadow: 2px 2px #431C53;

    background: linear-gradient(#9f13cc, #f600c3);
}

#money {
    display: flex;
    justify-content: center;
    gap: 20px;
}

img {
    width: 100%;
    border-radius: 7px;
}